<div class="grid-box">
  <header class="grid-header navbar p-2" role="header">
    <section class="navbar-section">
      <a routerLink="/" class="navbar-brand mr-2 c-hand">
        <img src="/assets/icons/pkmn.svg" alt="pkmn" width="60" height="60">
      </a>
      <a routerLink="/" class="navbar-brand mr-2 text-dark c-hand">
        <h3>{{titulo}}</h3>
      </a>
    </section>
  </header>

  <main class="container grid-main mt-2">
    <router-outlet></router-outlet>
  </main>

  <footer class="grid-footer mt-2">
    <nav class="grid-footer-content navbar rodape-content">
      <h5 class="text-truncate text-secondary m-0">
        <a class="text-secondary" href="https://github.com/tvmota" target="_blank">@Tiago Mota</a>&nbsp;//&nbsp;NgDex
      </h5>
    </nav>
  </footer>
</div>

